In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized

Objectives:
- List popular languages for Data 
- Arithmetic expression examples
- Create a markdown cell with a table

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL
4. Java
6. Julia
7. Scala
8. C/C++
9. JavaScript
10. MATLAB

Some of the commonly used libraries used by Data Scientists include:

1. TensorFlow
2. NumPy
3. SciPy 
4. Pandas
5. Matplotlib

|Data Science Tools|
--------------------
|Rstudio|
|Jupyter Notebook|
|visual Studio|

### Below are a few examples of evaluating arithmetic expressions in Python

In [6]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [7]:
# This will convert 200 minutes to hours by diving by 60
200 / 60

3.3333333333333335

### Author
Mohamed